
DATABSE_PASSWORD = 
DATABASE_URL = 

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY = 
NEXT_PUBLIC_GOOGLE_GEOCODE_API_KEY = 
NEXT_PUBLIC_GOOGLE_PLACE_API_KEY = 

REACT_EDITOR = code

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 

NEXTAUTH_URL = http://127.0.0.1:3000
NEXTAUTH_SECRET = 
    
GMAIL_APP_2FAUTH_PASS = 